<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Users</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Family Budget App</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="users/add">Add User</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  href="spendings/add">Add Spending</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  href="users">View Users</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  href="spendings">View Spending</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    <div class="mt-5">
      <h1 class="text-center">View Users</h1>
      <div class="container">
        <div class="d-flex justify-content-start align-items-center">
          <div class="my-3">
            <a href="users/add" class="btn btn-primary">Add User</a>
          </div>
          <div class="my-3 mx-2">
            <button class="btn btn-primary" (click)="findUserWithHighestTotalSpend()">Most Spending User</button>
          </div>
          <div class="my-3 mx-2">
            <button class="btn btn-primary" (click)="sortUsersBySpendingSize()">Sort List</button>
          </div>
          <div class="d-flex justify-content-start align-items-center">
            <div class="my-3 mx-2">
              <input type="date" class="form-control" [(ngModel)]="startDate">
            </div>
            <div class="my-3 mx-2">
              <input type="date" class="form-control" [(ngModel)]="endDate">
            </div>
            <div class="my-3 mx-2">
              <button class="btn btn-primary" (click)="findHighestTotalSpendOnGivenDate()">Most spender Given Date</button>
            </div>
          </div>
          <div class="my-3 mx-2">
            <button class="btn btn-secondary" (click)="clearFilter()">Clear Filter</button>
          </div>
        </div>

        <table class="table border">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Username</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="filteredUser">
              <tr>
                <td>{{ filteredUser.id }}</td>
                <td>{{ filteredUser.firstName }}</td>
                <td>{{ filteredUser.lastName }}</td>
                <td>{{ filteredUser.username }}</td>
                <td>
                  <div class="d-inline mx-2">
                    <button class="btn btn-warning" (click)="updateUser(filteredUser.id)" type="button">Update</button>
                  </div>
                  <div class="d-inline">
                    <button class="btn btn-danger" (click)="deleteUser(filteredUser.id)" type="button">Delete</button>
                  </div>
                </td>
              </tr>
            </ng-container>
            <ng-container *ngIf="!filteredUser">
              <tr *ngFor="let user of users">
                <td>{{ user.id }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.username }}</td>
                <td>
                  <div class="d-inline mx-2">
                    <button class="btn btn-warning" (click)="updateUser(user.id)" type="button">Update</button>
                  </div>
                  <div class="d-inline">
                    <button class="btn btn-danger" (click)="deleteUser(user.id)" type="button">Delete</button>
                  </div>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>    
</body>
</html>
