<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css">
  <style>
    .mb-4 {
      margin-bottom: 2rem;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">Family Budget App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="users/add">Add User</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="spendings/add">Add Spending</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="users">View Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="spendings">View Spending</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-4">
          <div class="card-header">
            Users Info
          </div>
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Login user</th>
                  <th>Number of registered users</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngIf="users | async as userList">
                  <tr *ngIf="userList.length > 0">
                    <td>{{ userList[0].firstName }} {{ userList[0].lastName }}</td>
                    <td>{{ userList.length }}</td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>

        <div class="card mb-4">
          <div class="card-header">
            Spendings Info
          </div>
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Number of spendings</th>
                  <th>Total spendings amount</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ spendingCount }}</td>
                  <td>{{ totalSpendings }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card mb-4">
          <div class="card-header">
            Spending Colunm Chart
          </div>
          <div class="card-body">
            <app-monthly-spending></app-monthly-spending>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-4">
          <div class="card-header">
            Spending Type Chart
          </div>
          <div class="card-body">
            <app-spending-type></app-spending-type>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-4">
          <div class="card-header">
            Billing Type Chart
          </div>
          <div class="card-body">
            <app-billing-type></app-billing-type>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
</body>

</html>
